.channel_content_messages_form__container {
  width: 100%;
  margin-top: 0.8em;
}

.channel_content_messages_form__container input {
  width: -webkit-fill-available;
  margin: 0 1em;
  font-size: 1rem;
  padding: 0.7em;
  font-family: "Whitney-Book";
  color: #d1d2d3;
  background-color: #393c42;
  border: 1px solid #393c42;
  border-radius: 4px;
}

.channel_content_messages_form__container input::placeholder {
  color: #8d8f94;
}

.channel_content_messages_form__container input:disabled {
  background-color: #2d2f35;
  border-color: #2d2f35;
  cursor: not-allowed;
}

.channel_content_messages_form__container input:disabled::placeholder {
  color: #43454b;
}
