.channel-messages__container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1em;
  background-color: #292b30;
}

.channel-messages__list {
  width: 90%;
  overflow-y: scroll;
}

.channel-message {
  font-family: "Whitney-Book";
  color: #d0d0d3;
  list-style-type: none;
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

/* .channel-message:hover {
  background-color: white;
} */

.channel-message > p {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin-right: 0.5em;
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.channel-message__username-date {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.2em;
}

.channel-message__username-date p:first-child {
  color: white;
  font-family: "Whitney-Semibold";
  font-size: 1.1rem;
}

.channel-message__username-date p:last-child {
  margin-left: 0.3em;
  font-size: 0.8em;
  color: #5e6269;
}

.channel-message__body,
.channel-message__body-edit {
  color: #d4d5d6;
  background-color: inherit;
  border: none;
  font-size: .95rem;
}

.channel-message__body-edit {
  background-color: #31343a;
  padding: 0.4em;
  width: fit-content;
}