.server-modal__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.server-modal__hide {
  visibility: hidden;
  height: 0;
}

.server-modal {
  background-color: white;
}
