.channel-content__container {
  display: flex;
  justify-content: space-between;
  height: 94vh;
}

.channel-content__chat {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1em;
  background-color: #292b30;
}

.channel-content__chat input {
  width: -webkit-fill-available;
  margin: 0 1em;
  font-size: 1rem;
  padding: 0.7em;
  font-family: "Whitney-Book";
  color: #d1d2d3;
  background-color: #393c42;
  border: 1px solid #393c42;
  border-radius: 4px;
}

.channel-content__chat input::placeholder {
  color: #8d8f94;
}

.channel-content__members {
  width: 25%;
  font-family: "Whitney-Medium";
  color: #7b7585;
  background-color: #232429;
  padding: 1.2em 0 1.2em 1.1em;
}

.channel-content__members h3 {
  font-size: 0.9rem;
}

.channel-content__member {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.channel-content__member-icon {
  border: 1px solid #7b7585;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.channel-content__member p + p {
  margin-left: 0.5em;
}
