.dm,
.current-user {
  display: flex;
  align-items: center;
  padding: 0.25em;
}

.dm {
  transition: background-color .15s ease-in-out;
  border: 1px solid #232429;
}

.dm:hover {
  cursor: pointer;
  background-color: #27292D;
  border: 1px solid #27292D;
  border-radius: 4px;
}

.dm p + p,
.current-user p + p {
  padding-left: 0.5em;
}

.dm__icon,
.current-user__icon {
  border: 1px solid #797D83;
  border-radius: 50%;
  padding: 0.5em;
  width: 40px;
  height: 40px;
  text-align: center;
}

.dm__username,
.current-user__username {
  font-size: 1.5rem;
}

.dm__x-mark {
  height: 30px;
  width: 30px;
}
