.server-index__container {
  display: flex;
  height: 100vh;
  background-color: #232429;
}

.server-index__servers-nav {
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #181a1c;
  padding: 0.5em 0 1em;
}

.server-index__dm {
  display: flex;
  flex-direction: row;
  width: 25%;
  margin: 0.6em;
}

.server-index__home {
  width: 67%;
  display: flex;
  flex-direction: column;
  padding: 0.6em;
  background-color: #292B30;
}

.server-index__home__nav {
  height: 5vh;
}

.server-index__home__content {
  height: 95vh;
  border-top: 1px solid #202226
}
